#main{
    background: gray;
    color: white;
    text-align: center;
}

#title{
    padding-top: 10px;
}

#img-div{
    background: white;
    color: black;
    margin: 10px;
}

img{
    display: block;
    margin: 10px auto 10px auto;
    width: 95%;
    padding-top: 20px;
    max-width: 900px;
}

#img-caption{
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}

#tribute-info{
    text-align: left;
    background: white;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
}
h2{
    font-size: 18px;
}
#tribute-info ul{
    padding: 5%;
}

